In [5]:
!ls

03_00_0_teoria.ipynb                    03_03_Operations_in_Pandas.ipynb
03_00_API.ipynb                         data
03_00_csv.ipynb                         ejercicio1.ipynb
03_01_Introducing_Pandas_Objects.ipynb  nueva.ipynb
03_02_Data_Indexing_and_Selection.ipynb

In [7]:
!ls data

alllines.txt       para_borrar.tsv    tarea_del_nene.csv
countries.csv      prueba.csv         ventas_comercial

# Alllines

In [1]:
path_file_alllines= "data/alllines.txt"

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv(path_file_alllines, sep = " ")

In [7]:
df1

                                                    ACT I
0                            SCENE I. London. The palace.
1       Enter KING HENRY, LORD JOHN OF LANCASTER, the ...
2                  So shaken as we are, so wan with care,
3              Find we a time for frighted peace to pant,
4          And breathe short-winded accents of new broils
...                                                   ...
111390         Lead us from hence, where we may leisurely
111391              Each one demand an answer to his part
111392     Perform'd in this wide gap of time since first
111393             We were dissever'd: hastily lead away.
111394                                             Exeunt

[111395 rows x 1 columns]

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111395 entries, 0 to 111394
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ACT I   111395 non-null  object
dtypes: object(1)
memory usage: 870.4+ KB

In [6]:
df1.shape

(111395, 1)

In [28]:
df1.describe()

         ACT I
count   111395
unique  107580
top       Exit
freq       564

In [29]:
df1.columns

Index(['ACT I'], dtype='object')

# para_borrar.tsv

In [8]:
path_file_para_borrar = "data/para_borrar.tsv"

In [9]:
df2 = pd.read_csv(path_file_para_borrar, sep='\t')

In [10]:
df2

,Fecha de respuesta,id,Edad,Customer Value,Probabilidad de Recomendación,¿Por que?,Date of 1st Feedback Call,Resultado del Primer contacto,Descripción detallada del contacto,Fuiste capaz de resolver el inconveniente?,El cliente se encontró satisfecho con el resultado?
0,6/30/19 23:09,1,43,1.0,10.0,buen servicio y buena atención,NaN,NaN,NaN,NaN,NaN
1,6/30/19 22:56,2,75,1.0,10.0,"Eficiencia, amabilidad, rapidez",NaN,NaN,NaN,NaN,NaN
2,6/30/19 22:52,3,23,1.0,10.0,Todo excelente,NaN,NaN,NaN,NaN,NaN
3,6/30/19 22:33,4,71,2.0,10.0,Vienen enseguida y siempre me solucionan el pr...,NaN,NaN,NaN,NaN,NaN
4,6/30/19 22:25,5,64,2.0,9.0,"Cumplió de acuerdo a mis expectativas, horario...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
35821,1/1/19 8:48,32233,63,2.0,10.0,buen servicio,NaN,NaN,NaN,NaN,NaN
35822,1/1/19 3:40,32234,35,2.0,4.0,La falta de compromiso de parte del seguro por...,02/01/2018,No contactado,no es posible establecer contacto con la titul...,No,No
35823,1/1/19 2:04,32235,41,2.0,10.0,Buena atención y rápida solución de problemas,NaN,NaN,NaN,NaN,NaN
35824,1/1/19 1:07,32236,66,1.0,10.0,"Persona muy eficiente,responsable y educado. ,",NaN,NaN,NaN,NaN,NaN
35825,1/1/19 0:47,32237,54,1.0,7.0,Es correcto el servicio,NaN,NaN,NaN,NaN,NaN

In [23]:
edad_bien = df2[df2['Edad'].notnull()]

In [26]:
edad_bien.Edad.unique()

array(['43', '75', '23', '71', '64', '56', '33', '46', '49', '50', '40',
       '59', '62', '30', '52', '26', '66', '58', '53', '54', 'Sí', '67',
       '63', '34', 'No', '44', '24', '70', '42', '48', '37', '32', '69',
       '65', '61', '35', '25', '76', '73', '27', '39', '45', '57', '55',
       '47', '41', '119', '60', '51', '36', '38', '31', '77', '74', '72',
       '79', '22', '28', '84', '29', '80', '85', '68', '87', '108', '20',
       '19', '21', '78', '82', '90', '81', '88', '18', '83', '0', '93',
       '86', '4', '91', '94', '3', '89', '100', '107', '6', '99', '1',
       '5', '95', '7', '16', '118'], dtype=object)

In [45]:
df2.shape

(35826, 11)

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35826 entries, 0 to 35825
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Fecha de respuesta                                   35693 non-null  object
 1   id                                                   35213 non-null  object
 2   Edad                                                 35015 non-null  object
 3   Customer Value                                       34572 non-null  float64
 4   Probabilidad de Recomendación                        34572 non-null  float64
 5   ¿Por que?                                            34572 non-null  object
 6   Date of 1st Feedback Call                            4333 non-null   object
 7   Resultado del Primer contacto                        4367 non-null   object
 8   Descripción detallada del contacto                   3208 non-null   object
 9   Fuiste capaz de resolver el inconveniente?           2517 non-null   object
 10  El cliente se encontró satisfecho con el resultado?  2503 non-null   object
dtypes: float64(2), object(9)
memory usage: 3.0+ MB

In [38]:
df2.columns

Index(['Fecha de respuesta', 'id', 'Edad', 'Customer Value',
       'Probabilidad de Recomendación', '¿Por que?',
       'Date of 1st Feedback Call', 'Resultado del Primer contacto',
       'Descripción detallada del contacto',
       'Fuiste capaz de resolver el inconveniente?',
       'El cliente se encontró satisfecho con el resultado?'],
      dtype='object')

In [39]:
df2.describe()

       Customer Value  Probabilidad de Recomendación
count    34572.000000                   34572.000000
mean         1.669154                       8.343168
std          0.500839                       2.476786
min          1.000000                       0.000000
25%          1.000000                       8.000000
50%          2.000000                       9.000000
75%          2.000000                      10.000000
max          3.000000                      10.000000

In [12]:
df2.isnull().sum()

Fecha de respuesta                                       133
id                                                       613
Edad                                                     811
Customer Value                                          1254
Probabilidad de Recomendación                           1254
¿Por que?                                               1254
Date of 1st Feedback Call                              31493
Resultado del Primer contacto                          31459
Descripción detallada del contacto                     32618
Fuiste capaz de resolver el inconveniente?             33309
El cliente se encontró satisfecho con el resultado?    33323
dtype: int64

In [13]:
df2.

TypeError: '>=' not supported between instances of 'str' and 'float'

# Tarea del nene

In [29]:
path_file_tarea= "data/tarea_del_nene.csv"

In [30]:
df3 = pd.read_csv(path_file_tarea)

In [31]:
df3

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [52]:
df3_ordenado = df3.sort_values('Profits', ascending = False)

In [55]:
df3_ordenado.tail()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
114,115,ConocoPhillips,http://www.conocophillips.com,13300,Energy,"Mining, Crude-Oil Production","Houston, TX",600 N. Dairy Ashford Rd.,Houston,TX,...,Chairman & Chief Executive Officer,"600 N. Dairy Ashford Rd. , Houston, TX 77079",COP,ConocoPhillips,24360,-21.3,-3615.0,10.6,89772,34974.0
174,175,Freeport-McMoRan,http://www.fcx.com,30000,Energy,"Mining, Crude-Oil Production","Phoenix, AZ",333 N. Central Ave.,Phoenix,AZ,...,"President, Chief Executive Officer & Director","333 N. Central Ave., Phoenix, AZ 85004",FCX,Freeport-McMoRan Inc.,15789,-0.6,-4154.0,4.4,37317,6051.0
342,343,Chesapeake Energy,http://www.chk.com,3300,Energy,"Mining, Crude-Oil Production","Oklahoma City, OK",6100 N. Western Ave.,Oklahoma City,OK,...,"President, Chief Executive Officer & Director","6100 N. Western Ave., Oklahoma City, OK 73118",CHK,Chesapeake Energy Corporation,7872,-38.3,-4401.0,7.1,13028,-1460.0
172,173,Halliburton,http://www.halliburton.com,50000,Energy,"Oil and Gas Equipment, Services","Houston, TX",3000 N. Sam Houston Pkwy E.,Houston,TX,...,"President, Chief Executive Officer & Director","3000 N. Sam Houston Pkwy E., Houston, TX 77032",HAL,Halliburton Company,15887,-32.8,-5763.0,16.7,27000,9409.0
195,196,FirstEnergy,http://www.firstenergycorp.com,15707,Energy,Utilities: Gas and Electric,"Akron, OH",76 S. Main St.,Akron,OH,...,"President, Chief Executive Officer & Director","76 S. Main St., Akron, OH 44308",FE,FirstEnergy Corp.,14156,-3.1,-6177.0,"-1,168.70",43148,6241.0

In [60]:
df3_rank = df3.sort_values('Rank')
df3_rank['Sector'].head()

0      Retailing
1     Financials
2     Technology
3         Energy
4    Wholesalers
Name: Sector, dtype: object

In [56]:
df3['Sector'].value_counts()

Financials                       84
Energy                           57
Retailing                        47
Technology                       43
Health Care                      38
Wholesalers                      29
Food, Beverages & Tobacco        24
Business Services                20
Materials                        19
Industrials                      19
Transportation                   17
Chemicals                        14
Engineering & Construction       13
Household Products               12
Aerospace & Defense              12
Media                            11
Hotels, Restaurants & Leisure    10
Telecommunications               10
Motor Vehicles & Parts            9
Food & Drug Stores                7
Apparel                           5
Name: Sector, dtype: int64

In [32]:
df3.shape

(500, 23)

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         500 non-null    int64
 1   Title        500 non-null    object
 2   Website      500 non-null    object
 3   Employees    500 non-null    int64
 4   Sector       500 non-null    object
 5   Industry     500 non-null    object
 6   Hqlocation   500 non-null    object
 7   Hqaddr       500 non-null    object
 8   Hqcity       500 non-null    object
 9   Hqstate      500 non-null    object
 10  Hqzip        500 non-null    int64
 11  Hqtel        500 non-null    object
 12  Ceo          500 non-null    object
 13  Ceo-title    500 non-null    object
 14  Address      500 non-null    object
 15  Ticker       500 non-null    object
 16  Fullname     500 non-null    object
 17  Revenues     500 non-null    int64
 18  Revchange    500 non-null    float64
 19  Profits      500 non-null    float64
 20  Prftchange   500 non-null    object
 21  Assets       500 non-null    int64
 22  Totshequity  500 non-null    float64
dtypes: float64(3), int64(5), object(15)
memory usage: 90.0+ KB

In [42]:
locacion = df3.groupby('Hqlocation').count()

In [47]:
locacion.sort_values(by = 'Title', ascending = False)

,Rank,Title,Website,Employees,Sector,Industry,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Hqlocation,,,,,,,,,,,,,,,,,,,,,
"New York, NY",45,45,45,45,45,45,45,45,45,45,...,45,45,45,45,45,45,45,45,45,45
"Houston, TX",18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
"Atlanta, GA",12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
"Chicago, IL",10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
"Dallas, TX",10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Hoffman Estates, IL",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"Horsham, PA",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"Inver Grove Heights, MN",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"Irvine, CA",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
"Woonsocket, RI",1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [48]:
df3.describe()

,Rank,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,500.000000,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,250.492000,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,144.477366,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,1.000000,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,125.750000,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,250.500000,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,375.250000,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,500.000000,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [49]:
df3['Revenues'].max()

485873

In [49]:
df3.isnull().sum()

Rank           0
Title          0
Website        0
Employees      0
Sector         0
Industry       0
Hqlocation     0
Hqaddr         0
Hqcity         0
Hqstate        0
Hqzip          0
Hqtel          0
Ceo            0
Ceo-title      0
Address        0
Ticker         0
Fullname       0
Revenues       0
Revchange      0
Profits        0
Prftchange     0
Assets         0
Totshequity    0
dtype: int64

In [51]:
df3.columns

Index(['Rank', 'Title', 'Website', 'Employees', 'Sector', 'Industry',
       'Hqlocation', 'Hqaddr', 'Hqcity', 'Hqstate', 'Hqzip', 'Hqtel', 'Ceo',
       'Ceo-title', 'Address', 'Ticker', 'Fullname', 'Revenues', 'Revchange',
       'Profits', 'Prftchange', 'Assets', 'Totshequity'],
      dtype='object')

# Vetas comerciales

## Hamlet

In [59]:
path_file_hamlet= "data/ventas_comercial/Hamlet.csv"

In [60]:
df4 = pd.read_csv(path_file_hamlet)

In [61]:
df4

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,32432,32433,Hamlet,138.0,NaN,CYMBELINE,ACT I
1,32433,32434,Hamlet,138.0,NaN,CYMBELINE,SCENE I. Elsinore. A platform before the castle.
2,32434,32435,Hamlet,138.0,NaN,CYMBELINE,FRANCISCO at his post. Enter to him BERNARDO
3,32435,32436,Hamlet,1.0,1.1.1,BERNARDO,Who's there?
4,32436,32437,Hamlet,2.0,1.1.2,FRANCISCO,"Nay, answer me: stand, and unfold yourself."
...,...,...,...,...,...,...,...
4239,36671,36672,Hamlet,147.0,5.2.421,PRINCE FORTINBRAS,Speak loudly for him.
4240,36672,36673,Hamlet,147.0,5.2.422,PRINCE FORTINBRAS,Take up the bodies: such a sight as this
4241,36673,36674,Hamlet,147.0,5.2.423,PRINCE FORTINBRAS,"Becomes the field, but here shows much amiss."
4242,36674,36675,Hamlet,147.0,5.2.424,PRINCE FORTINBRAS,"Go, bid the soldiers shoot."
4243,36675,36676,Hamlet,147.0,5.2.424,PRINCE FORTINBRAS,"A dead march. Exeunt, bearing off the dead bod..."

In [62]:
df4.shape

(4244, 7)

In [63]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4244 entries, 0 to 4243
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4244 non-null   int64
 1   Dataline          4244 non-null   int64
 2   Play              4244 non-null   object
 3   PlayerLinenumber  4244 non-null   float64
 4   ActSceneLine      4020 non-null   object
 5   Player            4244 non-null   object
 6   PlayerLine        4244 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 232.2+ KB

In [64]:
df4.describe()

       Unnamed: 0    Dataline  PlayerLinenumber
count   4244.0000   4244.0000       4244.000000
mean   34553.5000  34554.5000         46.679312
std     1225.2816   1225.2816         43.220929
min    32432.0000  32433.0000          1.000000
25%    33492.7500  33493.7500         15.000000
50%    34553.5000  34554.5000         31.000000
75%    35614.2500  35615.2500         64.000000
max    36675.0000  36676.0000        165.000000

In [65]:
df4.columns

Index(['Unnamed: 0', 'Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine',
       'Player', 'PlayerLine'],
      dtype='object')

In [66]:
df4.isnull().sum()

Unnamed: 0            0
Dataline              0
Play                  0
PlayerLinenumber      0
ActSceneLine        224
Player                0
PlayerLine            0
dtype: int64